@import '_vars';
@import '_global';
@import '_fonts';


.header {
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    &__text {
        display: flex;
        margin-left: auto;
        margin-right: 50px;
    }

    &__help {
        color: $red;
    }

    &__btn {
        padding: 4px;
        width: 72px;
        border-radius: 4px;
        text-align: center;
        color: #fff;
        font-size: 12px;
    }

    &__btn-login {
        background-color: $green;
    }

    &__btn-reg {
        margin-left: 7px;
        background-color: $red;
    }

    &__menu {
        background-color: $bg;
    }

    &__nav {
        display: flex;
        align-items: center;
        height: 60px;
    }

    &__list {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    &__list-link {
        color: #fff;
        font-size: 14px;
    }
}

// header end
// search start
.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;  
    &.search-page {
        min-height: 230px;
            
        .search__inner {
            padding: 55px 0 70px;   
            &-text {
                margin-bottom: 20px;
            }     
        }
    }

       
    &__inner {
        padding: 155px 0 100px;
        color: #fff;
        text-align: center;
    }

    &__inner-title {
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
    }

    &__inner-text {
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    &__inner-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
    }

    &__form-text {
        display: block;
        width: 100%;
        padding-left: 25px;
        padding-right: 60px;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        border-radius: 4px;
        height: 56px;
        border: none;
        font-size: 14px;
        font-weight: 500;
        outline: none;

        &:focus {
            border: 1px solid #000;
        }

        &::placeholder {
            color: $intext;
        }
    }

    &__form-submit {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 20px;
        top: 16px;
    }
}

// search end
// products start
.products {
    padding: 100px 0;
    background-color: $bg-grey;

    &__inner-btn {
        text-align: center;
        margin-bottom: 60px;
    }

    &__btn {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;

        &+button {
            margin-left: 5px;
        }

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }

    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 442px;
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    }

    &__item-img {
        display: block;
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__item-content {
        display: flex;
        justify-content: space-between;
        min-height: 90px;
        padding: 0% 30px;
        align-items: center;
        font-weight: 500;
        border-bottom: 1px solid $border;
    }

    &__item-name {
        max-width: 310px;
    }

    &__item-title {
        display: block;
        font-size: 18px;
        color: $bg;
    }

    &__item-category {
        display: block;
        font-size: 14px;
        color: $green;
    }

    &__item-price {
        font-size: 20px;
        color: $bg;
        font-weight: 700;
    }

    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }

    &__item-autor {
        display: flex;
        align-items: center;
        max-width: 245px;
    }

    &__autor-img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 14px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__autor-name {
        font-size: 14px;
        font-weight: 500;
        color: $gtext;
    }

    &__item-star {
        font-size: 12px;
    }

    &__item-rate {
        color: $bg;
    }

    &__bottom {
        text-align: center;
        font-size: 16px;
        color: $bg;
    }

    &__bottom-btn {
        margin: 45px 5px 0;
        padding: 20px 30px;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        background-color: #fff;
        cursor: pointer;

        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
            outline: none;
        }
    }
}

// products end

// slider start
.products__slider {
    padding: 110px 0 120px;

    .slick-dots {
        text-align: center;
        margin: 50px;

        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;

            &.slick-active {
                button {
                    background-color: $green;
                }
            }

            button {
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// slider end
// advantages start
.advantages {
    padding: 110px 0;
    background-color: $bg;

    &__title {
        color: #fff;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        text-align: center;
        padding: 0px 15px;

        &:hover {
            .advantages__item-images {
                background-color: $green;
            }

            .advantages__item-title {
                color: $green;
            }

            .advantages__item-images {
                g {
                    fill: #fff;
                }
            }
        }
    }

    &__item-images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        transition: all 0.5s;
    }

    &__image-lock {
        width: 50px;
    }

    &__image-gift {
        width: 71px;
        height: 68px;
    }

    &__image-heart {
        width: 86px;
    }

    &__item-title {
        margin-bottom: 25px;
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        transition: all 0.5s;
    }

    &__item-desc {
        font-size: 15px;
    }
}

// advantages end
// autor start
.autor {
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        min-width: 650px;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }

    &__title {
        max-width: 260px;
        margin-right: 45px;
        font-size: 30px;
        line-height: 30px;
        color: #fff;

    }

    &__title-bold {
        font-weight: 700;
    }

    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        color: $bg;
        background-color: #fff;
    }
}

// autor end
// tutorial start
.tutorial {
    padding: 70px 0 120px;

    &__inner {
        display: flex;
        justify-content: space-between;        
    }

    &__content {
        max-width: 370px;
        width: 100%;
    }

    &__content-img {
        min-height: 270px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content-title {
        padding: 30px 10px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: $bg;
        background-color: $bg-text;
    }
}

// tutorial end
// footer start 
.footer {
    background-color: $bg;

    &__content {
        padding: 100px 0 80px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        max-width: 270px;   
        width: 100%;
    }

    &__col-title {
        font-size: 22px;
        font-family: 'Raleway-Bold', sans-serif;
        font-weight: 700;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }

    &__col-text {
        font-size: 15px;
        color: #b7c3c8;
        margin-bottom: 30px;
    }

    &__contacts {
        margin-top: 18px;
        font-weight: 500;
        color: #fff;
        padding-left: 30px;
        position: relative;    
        &::before {
            content: '';
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }    
    }
      
    &__adress::before {
        content: '\f041';        
    }

    &__tel::before {
        content: '\f095';        
    }   

    &__col-menu {
        max-width: 220px;
    }

    &__col-link {
        margin-bottom: 13px;
        padding-left: 22px;
        color: #b7c3c8;
        position: relative;
        &::before {
            content: "\f105";
            font-family: 'icomoon';
            font-size: 18px;
            color: $green;
            position: absolute;
            left: 0;
        }
    }

    &__social-link {
        margin-bottom: 33px;
    }

    &__social-list {
        display: inline-block;
        & + & {
            margin-left: 7px;
        }
    }    

    &__link {
        width: 28px;
        height: 28px;
        background-image: url(../images/css_sprites.png);
    }
    
    &__link-twitter{
        background-position: -28px 0;        
    }

    &__link-youtube {
        background-position: 0 -28px;        
    }

    &__link-pinterest {
        background-position: -28px -28px;        
    }

    &__link-linkedin {
        background-position: -56px -0;        
    }

    &__form-title {
        font-size: 20px;
        margin-bottom: 15px;
        color: #fff;
    }

    &__form {
        position: relative;
    }

    &__form-input {
        display: block;
        padding-left: 13px;
        padding-right: 50px;
        background-color: #2f3c43;
        width: 100%;
        height: 40px;
        color: #fff;
        font-size: 14px;
        border: none;
        &::placeholder {
            color: #697378;
        }
    }

    &__form-btn {
        position: absolute;        
        right: 0;
        bottom: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before {
            content: '\f124';
            font-family: 'icomoon', sans-serif;
            color: #fff;
            font-size: 20px;
        }
    }

    &__copy {
        border-top: 1px solid #424d53;
    }

    &__copy-text {
        font-size: 15px;
        color: #919699;
        text-align: center;
        padding: 25px 0;
    }    
}

// footer end